*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

:root {
  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-neutral-200: hsl(193, 100%, 96%);
  --clr-neutral-400: hsl(208, 11%, 55%);
  --clr-neutral-800: hsl(192, 100%, 9%);

  --ff-base: "Open sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-200: 0.7rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-800: 1.5rem;
}

body {
  --padding: 1.5rem;
  --spacing: 2rem;

  font-size: var(--fs-600);
}

@media (width < 60rem) {
  .landing-page__header {
    position: relative;
    overflow: hidden;
    background-color: var(--clr-neutral-200);
    z-index: 10;
  }

  .header__content {
    padding: 1rem;
  }

  .flex-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .header_img {
    position: absolute;
    z-index: -10;
  }

  .flex-nav img {
    width: 150px;
    object-fit: contain;
  }

  .try-for-free {
    border: none;
    background-color: white;
    font-size: var(--fs-200);
    font-family: var(--ff-heading);
    padding: 5px 20px;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .description.grid {
    display: grid;
    gap: 1rem;
    width: min(95% 70rem);
    margin-inline: auto;
    justify-items: center;
    margin-top: 5rem;
  }

  .description h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    font-family: var(--ff-base);
    text-align: center;
    display: block;
    min-width: 300px;
    line-height: 2.5rem;
  }

  .description p {
    font-size: var(--fs-400);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    text-align: center;
    margin: 1rem;
  }

  .description button {
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    border: none;
    border-radius: 2rem;
    min-width: 250px;
    padding: 13px 50px;
    margin-bottom: 2.5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  button:hover:focus {
    opacity: 0.7;
    cursor: pointer;
  }

  .description img {
    max-width: 300px;
  }

  .main-grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2.5rem;
    margin-top: 3rem;
    padding: 2rem;
  }

  .container {
    padding: 2rem;
    border-radius: 1rem;
    min-height: 420px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .container h2 {
    font-family: var(--ff-heading);
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: 60%;
  }

  .container p {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    color: var(--clr-neutral-400);
    max-width: 400px;
    margin-inline: auto;
    text-align: center;
    position: relative;
    top: 60%;
  }

  .container.icon-grow-together {
    background-image: url("images/illustration-grow-together.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left 50% top 15%;
  }

  .container.icon-flowing-conversation {
    background-image: url("images/illustration-flowing-conversation.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left 50% top 15%;
  }

  .container.icon-your-user {
    background-image: url("images/illustration-your-users.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left 50% top 15%;
  }

  .get-started-box {
    padding: 1rem;
    border-radius: 1rem;
    min-height: 180px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    position: relative;
    top: 50%;
  }

  .get-started-box button {
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    border: none;
    border-radius: 2rem;
    padding: 12px 50px;
    margin-top: 1rem;
    position: relative;
    top: 20%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  .get-started-box p {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-500);
    position: relative;
    top: 20%;
  }

  .footer-grid {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--clr-neutral-800);
  }

  .footer-grid p {
    color: white;
    font-family: var(--ff-base);
    font-size: var(--fs-400);
  }

  .footer-logo {
    width: 180px;
    margin-top: 8rem;
    filter: brightness(0) invert(1);
  }

  .footer-info-flex {
    display: grid;
    gap: 1.5rem;
  }

  .location,
  .phone,
  .email {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .footer-icon {
    object-fit: contain;
    width: 20px;
  }

  .location-icon {
    justify-self: flex-start;
  }

  .footer-more {
    display: grid;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .footer-more p {
    font-size: var(--fs-600);
  }

  .social-media {
    display: flex;
    color: white;
    justify-content: center;
    margin: 2rem;
    gap: 4rem;
  }

  .fa-brands:hover {
    color: var(--clr-primary-pink);
    background-position: 200px;
  }

  p.copyright {
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (width >= 60rem) {
  .landing-page__header {
    position: relative;
    overflow: hidden;
    background-color: var(--clr-neutral-200);
    height: 660px;
    z-index: 10;
  }

  .header__content {
    padding: 2rem;
  }

  .flex-nav {
    display: flex;
    justify-content: space-between;
  }
  .header_img {
    position: absolute;
    z-index: -10;
  }

  .flex-nav img {
    margin-left: 3rem;
    max-width: 200px;
  }

  .try-for-free {
    border: none;
    background-color: white;
    font-size: var(--fs-200);
    font-family: var(--ff-heading);
    padding: 4px 30px;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    gap: 2rem;
    margin: 8rem 0rem 0rem 3rem;
  }

  .description h1 {
    font-size: 40px;
    font-weight: var(--fw-bold);
    font-family: var(--ff-base);
    display: block;
  }

  .description p {
    grid-column: 1;
    font-size: var(--fs-500);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    max-width: 600px;
    padding-bottom: 10px;
  }

  .description button {
    grid-column: 1;
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    border: none;
    border-radius: 2rem;
    width: fit-content;
    height: 50px;
    max-height: 50px;
    min-width: 250px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  button:hover:focus {
    opacity: 0.7;
    cursor: pointer;
  }

  .description img {
    grid-column: 2;
    grid-row: 1 / 4;
    max-width: 600px;
  }

  .main-grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2.5rem;
    margin-top: 3rem;
    padding: 5rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    min-height: 420px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .container:first-of-type h2,
  .container:last-of-type h2 {
    display: grid;
    align-items: end;
    margin-left: 10rem;
  }

  .container:first-of-type p,
  .container:last-of-type p {
    grid-column: 1;
    margin-left: 10rem;
  }

  .container:nth-of-type(2) h2 {
    grid-column: 2;
    display: grid;
    align-items: end;
    margin-left: 5rem;
  }
  .container:nth-of-type(2) p {
    grid-column: 2;
    display: grid;
    margin-left: 5rem;
    min-width: 400px;
  }

  .container h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    margin-bottom: 1rem;
  }

  .container p {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    color: var(--clr-neutral-400);
    max-width: 400px;
  }

  .icon-grow-together {
    background-image: url("images/illustration-grow-together.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right 5% top 50%;
  }

  .icon-flowing-conversation {
    background-image: url("images/illustration-flowing-conversation.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: left 5% top 50%;
  }

  .icon-your-user {
    background-image: url("images/illustration-your-users.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right 5% top 50%;
  }

  .get-started-box {
    padding: 1rem;
    border-radius: 1rem;
    min-height: 180px;
    width: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    position: relative;
    top: 80%;
    justify-self: center;
  }

  .get-started-box button {
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    border: none;
    border-radius: 2rem;
    padding: 15px 60px;
    margin-top: 1rem;
    position: relative;
    top: 20%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  .get-started-box p {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-500);
    position: relative;
    top: 20%;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1rem;
    padding: 3rem;
    background-color: var(--clr-neutral-800);
  }

  .footer-grid p {
    color: white;
    font-family: var(--ff-base);
    font-size: var(--fs-300);
  }

  .footer-logo {
    margin-top: 100px;
    width: 180px;
    filter: brightness(0) invert(1);
  }

  .footer-info-flex {
    display: grid;
    grid-column: 1;
    gap: 2rem;
    padding-right: 100px;
  }

  .location,
  .phone,
  .email {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .footer-icon {
    width: 20px;
  }

  .footer-more {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-more p {
    font-size: var(--fs-400);
    width: fit-content;
  }

  .social-media {
    display: flex;
    justify-content: space-evenly;
    color: white;
  }

  .fa-brands:hover {
    color: var(--clr-primary-pink);
  }

  p.copyright {
    font-family: var(--ff-base);
    font-size: 10px;
  }
}
